* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #F7F7F8;
}
div {
  margin:0;
  border:0;
  padding:0;
}
.header {
  box-shadow: 0px 4px 15px #CCC;
  background: #FFF;
  .header-content {
    width: 960px;
    height: 121px;
    position: relative;
    background: #FFF;
    margin: 0 auto;
  }
  .logo {
    width: auto;
    height: 121px;
    position: relative;
    img {
      position: absolute;
      top: 40px;
    }
  }
  .title {
    display: inline-block;
    color: #333;
    font-size: 24px;
    font-family: 'MicrosoftYaHei';
    position: absolute;
    top: 53px;
    left: 210px;
  }
}
.container {
  margin: 0;
  padding: 0;
  .first-step {
    width: 960px;
    height: 450px;
    background: #FFF;
    margin: 33px auto;
    padding-top: 50px;
    .progress {
      width: 510px;
      font-size: 0;
      margin: 0 auto;
      .identity-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .identity {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #7ABD54;
        }
        .circular {
          position: relative;
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #7ABD54;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #7ABD54;
        }
      }
      .setPwd-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .setPwd {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #C5C5C5;
          color: #C5C5C5;
        }
        .circular {
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #C5C5C5;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          position: relative;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #C5C5C5;
        }
      }
      .finsh-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .finsh {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #C5C5C5;
          color: #C5C5C5;
        }
        .circular {
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #C5C5C5;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          position: relative;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #C5C5C5;
        }
      }
    }
    .form {
      width: 650px;
      margin: 0 auto;
      margin-top: 45px;
      .tel {
        position: relative;
        .close {
          background-image: url('/assets/images/member/close.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 15px;
          height: 15px;
          display: none;
          position: absolute;
          top: 12px;
          right: 195px;
          cursor: pointer;
        }
        label {
          width: 110px;
          display: inline-block;
          font-size: 14px;
          color: #333;
          text-align: right;
          position: absolute;
          top: 10px;
        }
        input {
          width: 332px;
          height: 37px;
          color: #CCC;
          font-size: 12px;
          text-indent: 33px;
          border: 1px solid #DDD;
          margin-left: 24px;
          line-height: 37px;
          margin-left: 136px;
        }
        .tip {
          margin-top: 10px;
          margin-bottom: 19px;
          padding-left: 150px;
          display: flex;
          align-items: center;
          height: 16px;
          span {
            display: none;
          }
          :nth-child(1) {
            width: 15px;
            height: 15px;
            background-image: url('/assets/images/member/notice.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
          :nth-child(2) {
            font-size: 12px;
            color: #F02E2E;
            margin-left: 12px;
          }
        }
      }
      .tel-yzm {
        position: relative;
        label {
          width: 110px;
          display: inline-block;
          font-size: 14px;
          color: #333;
          text-align: right;
          position: absolute;
          top: 10px;
        }
        input {
          width: 169px;
          height: 37px;
          color: #CCC;
          font-size: 12px;
          text-indent: 33px;
          border: 1px solid #DDD;
          margin-left: 24px;
          line-height: 37px;
          margin-left: 136px;
        }
        button {
          width: 149px;
          height: 39px;
          font-size: 12px;
          color: #333;
          background: #F7F7F7;
          border: 1px solid #DDD;
          margin-left: 10px;
          border-radius: 3px;
        }
      }
      .yzm {
        position: relative;
        label {
          width: 110px;
          display: inline-block;
          font-size: 14px;
          color: #333;
          text-align: right;
        }
        input {
          width: 204px;
          height: 37px;
          color: #CCC;
          font-size: 12px;
          text-indent: 33px;
          border: 1px solid #DDD;
          margin-left: 30px;
        }
        button {
          width: 149px;
          height: 39px;
          font-size: 12px;
          color: #333;
          background: #F7F7F7;
          border: 1px solid #DDD;
          margin-left: 10px;
        }
        .img {
          display: inline-flex;
          padding: 0;
          align-items: center;
          margin-left: 10px;
          :nth-child(2) {
            font-size: 12px;
            color: #333;
            margin-left: 10px;
          }
          :nth-child(3) {
            font-size: 12px;
            color: #4381e6;
            cursor: pointer;
          }
        }
      }
      .next {
        display: inline-block;
        width: 333px;
        height: 37px;
        background: #FA9738;
        border: none;
        color: #FFF;
        font-size: 14px;
        margin-top: 29px;
        margin-left: 141px;
        line-height: 37px;
        text-align: center;
        text-decoration: none;
      }
      .next:hover {
        background: #E67C0A;
      }
    }
  }
  .second-step {
    display: none;
    width: 960px;
    height: 450px;
    background: #FFF;
    margin: 33px auto;
    padding-top: 50px;
    .progress {
      width: 510px;
      font-size: 0;
      margin: 0 auto;
      .identity-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .identity {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #B6DE9E;
        }
        .circular {
          position: relative;
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #B6DE9E;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #B6DE9E;
        }
      }
      .setPwd-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .setPwd {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #7ABD54;
          color: #7ABD54;
        }
        .circular {
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #7ABD54;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          position: relative;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #7ABD54;
        }
      }
      .finsh-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .finsh {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #C5C5C5;
          color: #C5C5C5;
        }
        .circular {
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #C5C5C5;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          position: relative;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #C5C5C5;
        }
      }
    }
    .form {
      width: 650px;
      margin: 0 auto;
      margin-top: 45px;
      .newpwd {
        position: relative;
        label {
          width: 110px;
          display: inline-block;
          font-size: 14px;
          color: #333;
          text-align: right;
          position: absolute;
          top: 10px;
        }
        input {
          width: 332px;
          height: 37px;
          color: #CCC;
          font-size: 12px;
          text-indent: 11px;
          border: 1px solid #DDD;
          margin-left: 136px;
          line-height: 37px;
        }
        .tip {
          height: 46px;
          :nth-child(2) {
            font-size: 12px;
            color: #F02E2E;
            margin-left: 12px;
          }
        }
      }
      .newpwd-confirm {
        position: relative;
        .close {
          background-image: url('/assets/images/member/close.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 15px;
          height: 15px;
          display: none;
          position: absolute;
          top: 12px;
          right: 195px;
          cursor: pointer;
        }
        label {
          width: 110px;
          display: inline-block;
          font-size: 14px;
          color: #333;
          text-align: right;
          position: absolute;
          top: 10px;
        }
        input {
          width: 332px;
          height: 37px;
          color: #CCC;
          font-size: 12px;
          text-indent: 11px;
          border: 1px solid #DDD;
          margin-left: 136px;
          line-height: 37px;
        }
        .tip {
          height: 40px;
        }
      }
      .yzm {
        position: relative;
        label {
          width: 110px;
          display: inline-block;
          font-size: 14px;
          color: #333;
          text-align: right;
          position: absolute;
          top: 10px;
        }
        input {
          width: 169px;
          height: 37px;
          color: #CCC;
          font-size: 12px;
          text-indent: 11px;
          border: 1px solid #DDD;
          margin-left: 136px;
          line-height: 37px;
        }
        .img {
          padding: 0;
          margin-left: 10px;
          display: inline-block;
          .random {
            position: absolute;
            top: 5px;
          }
          .text {
            font-size: 12px;
            color: #333;
            margin-left: 10px;
            margin-left: 90px;
          }
          .switch {
            font-size: 12px;
            color: #4381e6;
            cursor: pointer;
          }
        }
      }
      .next {
        display: inline-block;
        width: 333px;
        height: 37px;
        background: #FA9738;
        border: none;
        color: #FFF;
        font-size: 14px;
        margin-top: 29px;
        margin-left: 140px;
        line-height: 37px;
        text-align: center;
        text-decoration: none;
      }
      .next:hover {
        background: #E67C0A;
      }
    }
  }
  .third-step {
    display: none;
    width: 1201px;
    height: 450px;
    background: #FFF;
    margin: 33px auto;
    padding-top: 50px;
    .progress {
      width: 510px;
      font-size: 0;
      margin: 0 auto;
      .identity-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .identity {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #B6DE9E;
        }
        .circular {
          position: relative;
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #B6DE9E;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #B6DE9E;
        }
      }
      .setPwd-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .setPwd {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #B6DE9E;
          color: #B6DE9E;
        }
        .circular {
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #B6DE9E;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          position: relative;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #B6DE9E;
        }
      }
      .finsh-p {
        display: inline-block;
        width: 160px;
        height: 60px;
        font-size: 12px;
        position: relative;
        .finsh {
          position: absolute;
          top: 4px;
          width: 160px;
          height: 6px;
          background: #7ABD54;
          color: #7ABD54;
        }
        .circular {
          width: 21px;
          height: 21px;
          border-radius: 100px;
          background: #7ABD54;
          color: #FFF;
          text-align: center;
          line-height: 21px;
          position: relative;
          z-index: 100;
          margin: 0 auto;
          margin-top: -4px;
        }
        .title {
          margin-top: 21px;
          text-align: center;
          color: #7ABD54;
        }
      }
    }
    .result {
      width: 350px;
      margin: 89px auto;
      .tip {
        margin-left: 34px;
        width: 240px;
        display: inline-block;
        .tip-top {
          font-size: 14px;
          color: #7ABD54;
        }
        .tip-bottom {
          font-size: 12px;
          color: #898989;
          margin-top: 15px;
          letter-spacing:1pt; 
          a {
            color: #395AC7;
            text-decoration: none;
          }
        }
      }
    }
  }
}
      
input::-webkit-input-placeholder {
  color: #CCC;
}

.footer {
  width: 960px;
  margin: 0 auto;
  margin-top: 55px;
  border: none;
  padding-bottom: 51px;
  ul {
    :first-child {
      padding-left: 0px;
    }
    :last-child {
      border: none;
    }
    li {
      font-size: 13px;
      color: #333;
      display: inline-block;
      padding-left:11px;
      padding-right: 15px;
      border-right: 1px solid #000033;
      line-height: 13px;
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
  .copyright {
    margin-top: 32px;
    font-size: 12px;
    color: #B3B5BA;
  }
}