.helper-normal {
  background-color: #f7f7f8;
  width: 100%;
}

.helper-normal-box {
  background-color: #fff;
  padding: 20px;
  font-size: 18px;
  color: #666;

  h1 {
    text-align: center;
  }
}
