* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #F7F7F8;
}
button {
  outline: none;
}
.header {
  position: relative;
  box-shadow: 0px 4px 15px #CCC;
  background: #FFF;
  .header-content {
    width: 960px;
    height: 79px;
    position: relative;
    background: #FFF;
    margin: 0 auto;
  }
  .logo {
    width: auto;
    height: 79px;
    position: relative;
    img {
      position: absolute;
      top: 16px;
    }
  }
  .title {
    display: inline-block;
    color: #333;
    font-size: 24px;
    font-family: 'MicrosoftYaHei';
    position: absolute;
    top: 30px;
    left: 210px;
  }
  .sgin {
    display: inline-block;
    font-size: 15px;
    position: absolute;
    top: 31px;
    right: 0;
    :nth-child(2) {
      color: #FD7E24  ;
      text-decoration: none;
    }
    .login {
      color: #FD7E24  ;
      text-decoration: none;
    }
  }
}
.container {
  margin: 0;
  padding: 0;
  .register-box {
    width: 960px;
    background: #FFF;
    margin: 39px auto;
    padding-left: 131px;
    padding-top: 61px;
    padding-bottom: 34px;
    .top {
      width: 475px;
      padding-bottom: 37px;
      border-bottom: 1px solid #EEE;
      .wx-tip {
        font-size: 14px;
        color:#333;
      }
      .tel {
        margin-top: 49px;
        position: relative;
        input {
          width: 399px;
          height: 35px;
          border: 1px solid #EEE;
          font-size: 12px;
          text-indent: 11px;
          line-height: 35px;
        }
        .tip {
          font-size: 12px;
          color: #CCC;
          margin-left: 70px;
          margin-top: 8px; 
        }
      }
      .pwd {
        margin-top: 20px;
        position: relative;
        input {
          width: 399px;
          height: 35px;
          border: 1px solid #EEE;
          font-size: 12px;
          text-indent: 11px;
          line-height: 35px;
        }
        .tip {
          font-size: 12px;
          color: #CCC;
          margin-left: 70px;
          margin-top: 8px;
        }
      }
      .pwd-confirm {
        margin-top: 20px;
        position: relative;
        input {
          width: 399px;
          height: 35px;
          border: 1px solid #EEE;
          font-size: 12px;
          text-indent: 11px;
          line-height: 35px;
        }
        .tip {
          font-size: 12px;
          color: #CCC;
          margin-left: 70px;
          margin-top: 8px; 
          height: 12px;
        }
      }
      .yzm {
        margin-top: 20px;
        position: relative;
        label {
          position: absolute;
          top: 10px;
        }
        input {
          width: 141px;
          height: 35px;
          border: 1px solid #EEE;
          font-size: 12px;
          text-indent: 11px;
          margin-left: 68px;
          line-height: 35px;
        }
        .img {
          display: inline-block;
          width: 100px;
          height: 37px;
          background: #EDEDED;
          margin-left: 9px;
          margin-right: 9px;
          position: absolute;
          align-items: center;
          justify-content: center;
          .random {
            cursor: pointer;
          }
        }
        span {
          font-size: 12px;
          color: #333;
          margin-left: 125px;
          position: absolute;
          top: 10px;
        }
        .switch {
          cursor: pointer;
        }
      }
      .tel-yzm {
        margin-top: 39px;
        position: relative;
        label {
          position: absolute;
          top: 10px;
        }
        input {
          width: 143px;
          height: 35px;
          border: 1px solid #EEE;
          font-size: 12px;
          text-indent: 11px;
          margin-left: 68px;
          line-height: 35px;
        }
        span {
          margin-left: 15px;
          font-size: 12px;
          color: #333;
        }
        .getyzm {
          width: 149px;
          height: 37px;
          font-size: 12px;
          color: #333;
          background: #F7F7F7;
          border: 1px solid #DDD;
          margin-left: 10px;
          border-radius: 3px;
          position: absolute;
        }
      }
      label {
        font-size: 12px;
        color:#333;
        width: 65px;
        height: 37px;
        display: inline-block;
      }
    }
    .bottom {
      margin-top: 24px;
      .agreement {
        margin-left: 73px;
        position: relative;
        font-size: 12px;
        color: #333;
        input {
          position: absolute;
          top:2px;
        }
        :nth-child(2) {
          margin-left: 23px;
        }
        :nth-child(3) {
          color: #FD7E24;
        }
        .text {
          margin-left: 23px;
        }
      }
      .next {
        width: 131px;
        height: 37px;
        color: #FFF;
        border: none;
        font-size: 14px;
        background: #FD7E24;
        margin-top: 30px;
      }
      .next:hover {
        background: #E67C0A !important;
      }
    }
  }
}

input::-webkit-input-placeholder {
  color: #CCC;
}

.footer {
  margin: 0 auto;
  width: 960px;
  margin-top: 55px;
  border: none;
  padding-bottom: 51px;
  ul {
    :first-child {
      padding-left: 0px;
    }
    :last-child {
      border: none;
    }
    li {
      font-size: 13px;
      color: #333;
      display: inline-block;
      padding-left:11px;
      padding-right: 15px;
      border-right: 1px solid #000033;
      line-height: 13px;
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
  .copyright {
    margin-top: 32px;
    font-size: 12px;
    color: #B3B5BA;
  }
}