.return-detail{
  width:240px;
  border:1px solid #eee;
  padding:22px 15px 20px 15px;
  font-size:12px;
  .return-detail-title{
    font-size:16px;
    padding-bottom:13px;
    border-bottom:1px solid #eee;
  }
  .return-detail-cell-1{
    margin-top:24px;
    margin-bottom:24px;
    height:70px;
    .return-detail-photo{
      float:left;
      height:70px;
      width:70px;
    }
    .return-detail-cell-right{
      padding-left:83px;
    }
  }
  .return-detail-cell-2{
    border-top:1px solid #eee;
    padding-top:22px;
    color:#777;
    .return-detail-cell-label{
      float:left;
      padding-left:7px;
    }
    .return-detail-cell-right{
      padding-left:83px;
      margin-bottom:21px;
    }
  }
}
