.content {
     background: #F7F7F8;
     display: flex;
     justify-content: center;
     .minBox {
       display: flex;
       justify-content: space-between;
       .valiform-error {border:1px solid #EC7272!important;}
		    .text-error {color:#EC7272; font-size: 12px;}
		    .text-suc {color:#22A71B;}
		    .passwordStrength span {display: inline-block; width: 40px; height: 20px; margin:0 20px; background-color: #d0d0d0; font-size: 12px; line-height: 20px; text-align: center;} 
        #passwordStrength .bgStrength {color: #fff; background-color: #71b83d;}
       .right {
         width: 961px;
         height: 701px;
         background: #ffffff;
           .right-hear {
             width: 100%;
             height: 60px;
             border-bottom: 2px solid #F7F7F8;
             line-height: 60px;
               .setLogin-title {
                    color: #333333;
                    font-size: 17px;
                    margin-left: 31px;
                    font-family: MicrosoftYaHei;
                    }
                }
             .right-content {
                .rightCon-minBox {
                  margin-top: 89px;
                  margin-left: 217px;
                    .minBox-title {
                      margin-left: 163px;
                      font-size: 18px;
                      font-family: MicrosoftYaHei;
                      color: #333333;
                    }
                    .inputBoxTopO {
                      margin-top: 43px;
                    }
                    .inputBoxTopT {
                      margin-top: 15px;
                    }
                    .inputBoxTopF {
                      margin-top: 13px;
                    }
                    .inputBox-title {
                      font-size: 14px;
                      font-family: MicrosoftYaHei;
                      color: #333333;
                      display: inline-block;
                      width: 110px;
                      text-align: right;
                    }
                    ::-webkit-input-placeholder {
                      color: #CCCCCC;
                      
                    }
                    .inputBox-input {
                      width: 321px;
                      height: 37px;
                      border: 1px solid #DDDDDD;
                      margin-left: 23px; 
                      font-size: 12px;
                      font-family: MicrosoftYaHei;
                      padding-left: 10px;  
                    }
                    .inputBox-prompt {
                      font-size: 12px;
                      font-family: MicrosoftYaHei;
                      color: #AAAAAA;
                      margin-left: 137px;
                      margin-top: 8px;
                    }
                    .setLoginBtnBox {
                      width: 320px;
                      display: flex;
                      justify-content: space-between;
                      margin-left: 140px;
                      margin-top: 49px;
                        .loginBtnO {
                          width: 151px;
                          height: 37px;
                          background: #FFFFFF;
                          border: 1px solid #FD7E24;
                          color: #FD7E24;
                        }
                        .loginBtnT {
                          width: 151px;
                          height: 37px;
                          background: #FD7E24;
                          border: 1px solid #FD7E24;
                          color: #EDEDED;
                        }
                    }
             }      
       }
     }
  }
}